{% block add_to_cart %}
<table>
    <tr><td align="right">
        <button type="button" class="control" onclick="qtyMinus({{ id }})">-</button><input type="number" id="{{ id }}_qty" value="1" style="width: 3em;"><button id="{{ id }}_plus" type="button" class="control" onclick="qtyPlus({{ id }}, {{ product['qty'] }})">+</button>
        <button type="button" class="button" onclick="addToCart({{ id }})">В корзину</button>
    </td></tr>
</table>
<input type="hidden" id="{{ id }}_name" value="{{ name }}">
<input type="hidden" id="{{ id }}_max" value="{{ product['qty'] }}">
<input type="hidden" id="{{ id }}_price" value="{{ price }}">
<input type="hidden" id="{{ id }}_thumb" value="{{ thumb }}">
{% endblock %}            
