<!-- All products display page -->
{% extends 'base.html' %}

{% block content %}
    {% for product in products %}
    <table style="margin-bottom:16vh;">
        <tr>
            <td rowspan="3" style="height: 2em;">
                <a href="{{ url_for('product.single', product=product['name'], id=product['id']) }}">
                    <img class="all_img" {% if product['image'] is not none %} src="{{ url_for('media.static', filename=product['image']) }}" {% endif %}>
                </a>
            </td>
            <td colspan="2">
                <a href="{{ url_for('product.single', product=product['name'], id=product['id']) }}">
                    <h3>{{ product['name'] }}</h3>
                </a>
            </td>
        </tr>
        <tr>
            <td valign="top" colspan="2" style="height: 7em;">{{ product['laconic'] }}</td>
        </tr>
        <tr>
            <td style="width: 40%; height: 2em;">
                <b>{{ product['price'] }}грн/{{ product['unit'] }}</b>
            </td>
            <td style="width: 60%; height: 2em;">
                {% if product['image'] is not none %} 
                    {% with id=product['id'], name=product['name'], price=product['price'], thumb=url_for('media.static', filename=product['image']) %}
                        {% include 'add_to_cart.html' %}
                    {% endwith %}
                {% else %}
                    {% with id=product['id'], name=product['name'], price=product['price'] %}
                        {% include 'add_to_cart.html' %}
                    {% endwith %}
                {% endif %}
            </td>
        </tr>
    </table>
    {% endfor %}  
{% endblock %}            
