<html>
    <head>
        <meta charset="utf-8">
        <title>Ветчина, Салями, Копчености, Сосиски</title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    </head>
    <body onload="loadCart()">
        <!-- Top Navigation Menu -->
        <div class="navbar">
            <div class="container">
                <a href="{{ url_for('product.all') }}" class="left"><b>Главная</b></a>
                <a href="{{ url_for('cart.content') }}" class="right"><b id="cart_qty">Корзина</b></a>
            </div>
        </div>
        <!-- Page Content -->
        <div class="wrapper">
            {% block content %} {% endblock %}
        </div>
        <script src="{{ url_for('static', filename='js/cart.js') }}"></script>     
        {% if request.path == "/cart/" %}     
        <script>displayCart();</script>
        {% endif %}     
    </body>
</html>    
