{% extends 'base.html' %}

{% block content %}
<div style="text-align: center; margin-bottom: 4em;">
    <h3>Payment method</h3>
    <h3>К оплате: {{ total }}</h3>
    <button type="submit" class="button" onclick="purchaseDone()">Оплачено</button>
</div>
<h3>Ваш заказ</h3>
<hr>
<table>
    <tr><th></th><th align="left">Товар</th><th align="right">Количество</th><th align="right">Цена</th><th align="right">Стоимость</th></tr>
    {% for product in order %}        
    <tr>
        <td><img class="cart_thumbs" src="{{ product['thumb'] }}"></td>
        <td align="left">{{ product['name'] }}</td>
        <td align="right">{{ product['qty'] }}</td>
        <td align="right">{{ product['price'] }}</td>
        <td align="right">{{ product['price']|int * product['qty']|int }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}  
