{% extends 'base.html' %}

{% block content %}
<table>
    <tr><td rowspan="2" colspan="3" style="width: 50%;">
        {% if media[0] is not none %}<img class="product_img" src="{{ url_for('media.static', filename=media[0]) }}" onclick="openModal();currentSlide(1)">{% endif %}
        <!-- space between product image and ingredients list -->            
        </td><td rowspan="3" style="width: 2vw;"></td>
        <td colspan="2"><h3>{{ product['name'] }}</h3><h3>{{ product['price'] }}грн/{{ product['unit'] }}</h3></td>
    </tr>
    <tr><td>
            {% for item in composition %}
                <p>{{ item['name'] }}</p>
            {% endfor %}
        </td><td align="right">
            {% for item in composition %}
                <p>{{ item['qty'] }}</p>
            {% endfor %}
    </td></tr>
    <tr>
        <td style="width: 15%;">
            {% if media[1] is not none %}<img id="img_one" class="product_thumbs" src="{{ url_for('media.static', filename=media[1]) }}" onclick="openModal();currentSlide(2)"/>{% endif %}
        </td>
        <td style="width: 15%;">
            {% if media[2] is not none %}<img id="img_two" class="product_thumbs" src="{{ url_for('media.static', filename=media[2]) }}" onclick="openModal();currentSlide(3)"/>{% endif %}
        </td>
        <td style="width: 15%;">
            {% if media[3] is not none %}<img id="img_three" class="product_thumbs" src="{{ url_for('media.static', filename=media[3]) }}" onclick="openModal();currentSlide(4)"/>{% endif %}
        </td>
        <td colspan="2" valign="bottom">
            {% with id=product['id'], name=product['name'], price=product['price'] %}
                {% include 'add_to_cart.html' %}
            {% endwith %}
        </td>
    </tr>

    <tr><td colspan="6" style="padding-top: 12vh;">
            {{ product['full'] | safe }}
    </td></tr>
</table>
<!-- Modal -->
<div id="modal" class="modal">
    <div class="modal-content">
    <table>
        <tr><td style="width: 10%;"></td>
            <td style="width: 80%;"></td>
            <td align="right" style="width: 10%;">
            <span class="close" onclick="closeModal()">&times;</span>
        </td></tr>
        <tr><td>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        </td><td align="center">
        {% for image in media %}
            {% if image is not none %}
            <img class="slides" src="{{ url_for('media.static', filename=image) }}">
            {% endif %}
        {% endfor %}
        </td><td align="right">
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </td>
    </td></tr>
    <tr>
      <!-- Thumbnail image controls -->
        <td></td><td align="center">
        {% for image in media %}
            {% if image is not none %}
            <img class="thumbs" src="{{ url_for('media.static', filename=image) }}" onclick="currentSlide({{ loop.index }})">
            {% endif %}
        {% endfor %}
        </td><td></td>
    </tr>
    </table>        
    </div>
</div>  
<script src="{{ url_for('static', filename='js/slider.js')}}"></script>       
{% endblock %}            
