<html>
    <head>
        <meta charset="utf-8">
        <title>Admin Panel</title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    </head>
    <body>
        <!-- Top Navigation Menu -->
        <div class="navbar">
            <div class="container">
                <a href="{{ url_for('product.all') }}"><b>Product</b></a>
                <a href="{{ url_for('ingredient.all') }}"><b>Ingredient</b></a>
                <a href="{{ url_for('unit.all') }}"><b>Unit</b></a>
            </div>
        </div>
        <!-- Page Content -->
        <div class="wrapper">
            {% block content %} {% endblock %}
        </div>
    </body>
</html>    
