{% extends 'iframe.html' %}

{% block content %}
<form action="{{ url_for('composition.add', product_id=product_id) }}" method="post" >
    <table>
        <tr><th align="left" style="width: 80%;">Name</th><th align="left">Qty</th></tr>
        <tr style="background-color: #fff;"><td>
            <select id="ingredient_id" name="ingredient_id" style="width: 90%;">
            {% for ingredient in ingredients %}
                <option value="{{ ingredient['id'] }}">{{ ingredient['name'] }}</option>
            {% endfor %}
            </select>
        </td><td>
            <input type="text" name="qty" id="qty" style="width: 80%;" required>
        </td><td align="right">
            <input type="submit" value="Add">
        </td></tr>
    </table>
</form>
    
<style>
    tr:nth-child(even) { background-color: rgb(240, 239, 239); }
</style>

<table style="margin-top: 50px;" >
    <tr><th align="left">Name</th><th align="left">Qty</th></tr>
{% for item in composition %}
    <tr>
        <td>{{ item['name'] }}</td>
        <td>{{ item['qty'] }}</td>
        <td align="right">
            <form action="{{ url_for('composition.delete', id=item['id'], product_id=product_id) }}" method="post">
                <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
            </form>
        </td>        
    </tr>
{% endfor %}
</table>
{% endblock %}            
