{% extends 'base.html' %}

{% block content %}
<form method="post" action="{{ url_for('ingredient.add') }}">
    <table>
        <tr><th align="left" style="width: 80%;">Name</th></tr>
        <tr style="background-color: #fff;"><td>
            <input type="text" name="ingredient" id="ingredient" style="width: 100%;" required>
        </td><td align="right">
            <input type="submit" value="Add">
        </td></tr>
    </table>
</form>
    
<style>
    tr:nth-child(even) { background-color: rgb(240, 239, 239); }
</style>

<table style="margin-top: 50px;" >
    <tr><th align="left">Name</th></tr>
{% for ingredient in ingredients %}
    <tr>
        <td>{{ ingredient['name'] }}</td>
        <td align="right">
            <form action="{{ url_for('ingredient.edit', id=ingredient['id']) }}" method="get">
                <input type="submit" value="Edit">
            </form>
        </td>
        <td align="right">
            <form action="{{ url_for('ingredient.delete', id=ingredient['id']) }}" method="post">
                <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
            </form>
        </td>        
    </tr>
{% endfor %}
</table>
{% endblock %}            
