{% extends 'base.html' %}

{% block content %}
<form method="post" action="{{ url_for('ingredient.edit', id=ingredient['id']) }}">
<table>
    <tr><th align="left" style="width: 80%;">Name</th></tr>
    <tr style="background-color: #fff;"><td>
        <input type="text" name="ingredient" id="ingredient" value="{{ ingredient['name'] }}" style="width: 100%;" required>
    </td><td align="right">
        <input type="submit" value="Update">
    </td></tr>
</table>
</form>
{% endblock %}   
