{% extends 'base.html' %}

{% block content %}
<form method="post" action="{{ url_for('product.edit_post', id=product['id']) }}">
    <table>
        <tr>
            <th align="left" style="width: 50%;">Name</th>
            <th align="left" style="width: 15%;">Qty</th>
            <th align="left" style="width: 15%;">Price</th>
            <th align="left" style="width: 15%;">Unit</th>
        </tr>
        <tr style="background-color: #fff;">
            <td><input type="text" name="product" id="product" value="{{ product['name'] }}" style="width: 98%;" required></td>
            <td><input type="number" name="qty" id="qty" min="1" value="{{ product['qty'] }}" style="width: 95%;"></td>
            <td><input type="number" name="price" id="price" value="{{ product['price'] }}" style="width: 95%;"></td>
            <td>
                <select id="unit_id" name="unit_id" style="width: 95%;">
                    {% for unit in units %}
                    <option {% if unit['id'] == product['unit_id'] %}selected{% endif %} value="{{ unit['id'] }}">{{ unit['name'] }}</option>
                    {% endfor %}
                </select>
            </td>
            <td align="right"><input type="submit" value="Update"></td>
        </tr>
    </table>    
</form>    
{% endblock %}   
    