{% extends 'base.html' %}

{% block content %}
<script type="application/javascript">
    var loadFile = function(event, element) {
        var output = document.getElementById(element);
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function() {
            URL.revokeObjectURL(output.src) // free memory
        }
    };
    window.addEventListener('DOMContentLoaded', function(e) {
        var frame = document.getElementById("Iframe");    
        frame.onload = function() {
            frame.style.height = frame.contentWindow.document.body.scrollHeight + 'px';
        }
    } );    
</script>

<form action="{{ url_for('product.description_update', id=product['id']) }}" method="POST" enctype="multipart/form-data">
<table style="table-layout: fixed; border-collapse:separate;">
<!-- Product name -->    
    <tr><th style="padding-bottom: 40px; text-align: left;">{{ product['name'] }}</th></tr>
<!-- Main image -->        
    <tr><td colspan="2" style="height: 400px;">        
        <img id="img_main" {% if media[0] is not none %} src="{{ url_for('media.static', filename=media[0]) }}" {% endif %} style="width: 100%; height: 100%;"/>
    </td></tr> 
    <tr><td colspan="2" style="width: 50%;">
        <input type="file" id="img_main" name="images" accept="image/png" onchange="loadFile(event, 'img_main')")>
    </td></tr>
<!-- Additional images -->    
    <tr><td style="height: 180px;">
        <img id="img_one" {% if media[1] is not none %} src="{{ url_for('media.static', filename=media[1]) }}" {% endif %} style="width: 100%; height: 100%;"/>
    </td><td style="height: 180px;">
        <img id="img_two" {% if media[2] is not none %} src="{{ url_for('media.static', filename=media[2]) }}" {% endif %} style="width: 100%; height: 100%;"/>
    </td><td style="height: 180px;">
        <img id="img_three" {% if media[3] is not none %} src="{{ url_for('media.static', filename=media[3]) }}" {% endif %} style="width: 100%; height: 100%;" />
    </td></tr>
    <tr><td>
        <input type="file" id="img_one" name="images" accept="image/png" onchange="loadFile(event, 'img_one')">
    </td><td>
        <input type="file" id="img_two" name="images" accept="image/png" onchange="loadFile(event, 'img_two')">
    </td><td>
        <input type="file" id="img_three" name="images" accept="image/png" onchange="loadFile(event, 'img_three')">
    </td></tr>
<!-- Ingredients --> 
    <tr><td colspan="3">
        <iframe id="Iframe" src="{{ url_for('composition.all', id=product['id']) }}" frameborder=0></iframe>
    </td></tr>
<!-- Laconic and full description -->   
    <tr><td colspan="3">
        <textarea id="laconic" name="laconic" placeholder="Short product description" rows="5">{% if product['laconic'] is not none %}{{ product['laconic'] }}{% endif %}</textarea>
    </td></tr>
    <tr><td colspan="3">
        <textarea id="full" name="full" placeholder="Full product description" rows="16">{% if product['full'] is not none %}{{ product['full'] }}{% endif %}</textarea>
    </td></tr>
<!-- Submit update -->       
    <tr><td colspan="3" align="right">
        <input type="submit" value="Save">
    </td></tr>
</table>    
</form>
{% endblock %}            
