{% extends 'base.html' %}

{% block content %}
<form method="post" action="{{ url_for('product.add') }}">
<table>
    <tr>
        <th align="left" style="width: 50%;">Name</th>
        <th align="left" style="width: 15%;">Qty</th>
        <th align="left" style="width: 15%;">Price</th>
        <th align="left" style="width: 15%;">Unit</th>
    </tr>
    <tr style="background-color: #fff;">
        <td><input type="text" name="product" id="product" style="width: 98%;" required></td>
        <td><input type="number" name="qty" id="qty" min="1" value="1" style="width: 95%;"></td>
        <td><input type="number" name="price" id="price" value="0" style="width: 95%;"></td>
        <td>
            <select id="unit_id" name="unit_id" style="width: 95%;">
                {% for unit in units %}
                    <option value="{{ unit['id'] }}">{{ unit['name'] }}</option>
                {% endfor %}
            </select>
        </td>
        <td align="right"><input type="submit" value="Add"></td>
    </tr>
</table>    
</form>

<style>
    tr:nth-child(even) { background-color: rgb(240, 239, 239); }
</style>

<table style="margin-top: 50px;">
    <tr><th align="left">Name</th><th align="left">Qty</th><th align="left">Price</th><th align="left">Unit</th></tr>
{% for product in products %}
    <tr>
        <td style="width: 50%;">{{ product['name'] }}</td>
        <td style="width: 10%;">{{ product['qty'] }}</td>
        <td style="width: 10%;">{{ product['price'] }}</td>
        <td style="width: 10%;">{{ product['unit'] }}</td>
        <td align="right">
            <form action="{{ url_for('product.delete', id=product['id']) }}" method="post">
                <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
            </form>
        </td>        
        <td align="right">
            <form action="{{ url_for('product.edit_get', id=product['id']) }}" method="get">
                <input type="submit" value="Edit">
            </form>
        </td>
        <td align="right">
            <form action="{{ url_for('product.description', id=product['id']) }}" method="get">
                <input type="submit" value="Description">
            </form>
        </td>        
    </tr>
{% endfor %}
</table>

{% endblock %}            
