{% extends 'base.html' %}

{% block content %}
<form method="post" action="{{ url_for('unit.add') }}">
    <table>
        <tr><th align="left" style="width: 80%;">Unit</th></tr>
        <tr style="background-color: #fff;"><td>
            <input type="text" name="unit" id="unit" style="width: 100%;" required>
        </td><td align="right">
            <input type="submit" value="Add">
        </td></tr>
    </table>
</form>
        
<style>
    tr:nth-child(even) { background-color: rgb(240, 239, 239); }
</style>

<table style="margin-top: 50px;" >
    <tr><th align="left">Unit</th></tr>
{% for item in unit %}
    <tr>
        <td>{{ item['name'] }}</td>
        <td align="right">
            <form action="{{ url_for('unit.delete', id=item['id']) }}" method="post">
                <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
            </form>
        </td>        
    </tr>
{% endfor %}
</table>
{% endblock %}            
